<template>
	<main class="form-signin">
		<form @submit.prevent="submit">
			<h1 class="h3 mb-3 fw-normal text-center">Register</h1>

			<div class="form-floating">
				<input v-model="firstname" type="text" class="form-control" id="first-name-input" placeholder="John">
				<label for="first-name-input">First Name</label>
			</div>

			<div class="form-floating mb-3">
				<input v-model="lastname" type="text" class="form-control" id="last-name-input" placeholder="Doe">
				<label for="last-name-input">Last Name</label>
			</div>

			<div class="form-floating mb-3">
				<input
					v-model="email"
					type="email"
					class="form-control"
					id="email-input"
					placeholder="name@example.com">

				<label for="email-input">Email address</label>
			</div>
			<div class="form-floating">
				<input
					v-model="password"
					type="password"
					class="form-control"
					id="password-input"
					placeholder="Password">

				<label for="password-input">Password</label>
			</div>

			<div class="form-floating mb-3">
				<input
					v-model="passwordConfirm"
					type="password"
					class="form-control"
					id="password-confirm-input"
					placeholder="Password">

				<label for="password-confirm-input">Confirm password</label>
			</div>

			<button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
		</form>
	</main>
</template>

<script lang="ts">
import { ref } from 'vue'

export default {
	name: 'Register',
	// eslint-disable-next-line
	setup() {
		const firstname = ref('')
		const lastname = ref('')
		const email = ref('')
		const password = ref('')
		const passwordConfirm = ref('')

		const submit = () => {
			console.log({
				firstname: firstname.value,
				lastname: lastname.value,
				email: email.value,
				password: password.value,
				passwordConfirm: passwordConfirm.value,
			})
		}

		return {
			firstname,
			lastname,
			email,
			password,
			passwordConfirm,
			submit,
		}
	},
}
</script>

<style lang="scss" scoped>
.bd-placeholder-img {
	font-size: 1.125rem;
	text-anchor: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

@media (min-width: 768px) {
	.bd-placeholder-img-lg {
		font-size: 3.5rem;
	}
}

.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;

	.form-control {
		position: relative;
		box-sizing: border-box;
		font-size: 16px;
	}
}


</style>